# Mac files
*.DS_Store

# Data files 
*.data
*.bin
*.txt
*.lammps
*.png
*.npy
*.csv

# Folders
/__pycache__
/Questions
/Books
/hon_search
/pop_search
/RW_search
/thesis/figures/flipbook/sideview_full
/thesis/figures/flipbook/topview_full



# C++
*.o

# Python
*.pyc

# ML
*model_dict_state

#Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.out
*.toc
*.bib
*.mp
*.thm
*.blg
*.bbl
*.1
*.2
*.3
*.t1
*.t2
*.t3


# Videos / Animations
*.gif
*.mp4
*.mov
