# Mac files
*.DS_Store

# Data files 
*.data
*.bin
*.txt
*.lammps

# Folders
/__pycache__

# C++
*.o

# Python
*.pyc

#Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.out
*.toc
*.bib
*.mp
*.thm
*.blg
*.bbl
*.1
*.2
*.3
*.t1
*.t2
*.t3
